<!-- <h1 style="text-align:center"> Octopus.Forsale.Inktober </h1> -->



<head>
<style>
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
/*  margin: 10px;
  text-align: center; */
}
#logoSet
{
	max-width: 75%;
}

#userList
{
text-align: left;
border-style: solid;
margin: 5%;
width: 20%;
}

</style>
</head>
<body>

<div class="flex-container">
  <div id="logoSet"><img src="/static/octopus-logo.png" alt="octopus forsale logo" width="100%">
  </div>
  
  <div id="userList">
  <h1 style="text-align: center">Octopi For Sale </h1>
  <ul>
  <li><a href="{{ url_for('userGallery') }}">Honte</a></li>
  <li>Kronaas</li>
  <li>OnlyDean</li>
  <li>AcidBurn</li>
  </ul>
  </div>

</div> <!-- end flex container -->
